In [1]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome(r'C:\Users\RUCHITA\Downloads\chromedriver_win32/chromedriver.exe')

In [3]:
#1. First get the webpage https://www.naukri.com/
url='https://www.naukri.com/'
driver.get(url)

In [4]:
#2. Enter “Data Analyst” in “Skill, Designations, Companies” field
search_job=driver.find_element_by_class_name("suggestor-input")
search_job
search_job.send_keys("Data Analyst")

In [5]:
# enter “Bangalore” in “enter the loction field

search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc
search_loc.send_keys("Bangalore")

In [6]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [7]:
search_btn.click()

In [8]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags
job_title=[]
for i in title_tags:
    job_title.append(i.text)
del job_title[10:21]

In [9]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_tag:
    company_name.append(i.text)
del company_name[10:21]

In [10]:
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location=[]
for i in location_tag:
    location.append(i.text)
del location[10:21]
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Ahmedabad, Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [11]:
len(company_name)

10

In [12]:
exp_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience=[]
for i in exp_tag:
    experience.append(i.text)
del experience[10:21]

In [13]:
len(experience),len(company_name),len(location),len(job_title)

(10, 10, 10, 10)

In [14]:
#Finally create a dataframe of the scraped data
import pandas as pd
df=pd.DataFrame()
df['job_titles']=job_title
df['company']=company_name
df['experience']=experience
df['locations']=location
df

,job_titles,company,experience,locations
0,Flight data analyst (372),NEST DIGITAL PRIVATE LIMITED,0-1 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst,Capco,4-8 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,Mobile Premier League,3-6 Yrs,Bangalore/Bengaluru
3,Looking For Data Analyst,Trellance,0-2 Yrs,"Ahmedabad, Bangalore/Bengaluru"
4,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,0-4 Yrs,"Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb..."
5,Staff Business Data Analyst - FDP,Intuit Inc.,5-7 Yrs,Bangalore/Bengaluru
6,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,4-9 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Flipkart,3-6 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst (Digital Services Analytics),Dell,1-6 Yrs,Bangalore/Bengaluru

# 2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [15]:
#1. First get the webpage https://www.naukri.com/
url='https://www.naukri.com/'
driver.get(url)

In [16]:
#2. Enter “Data Science” in “Skill, Designations, Companies” field
search_job=driver.find_element_by_class_name("suggestor-input")
search_job
search_job.send_keys("Data Scientist")

In [17]:
# enter “Bangalore” in “enter the loction field

search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc
search_loc.send_keys("Bangalore")

In [18]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn
search_btn.click()

In [19]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags
job_title=[]
for i in title_tags:
    job_title.append(i.text)
del job_title[10:21]

In [20]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_tag:
    company_name.append(i.text)
del company_name[10:21]
#company_name

In [21]:
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location=[]
for i in location_tag:
    location.append(i.text)
del location[10:21]
location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Navi Mumbai, New Delhi, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru']

In [22]:
df=pd.DataFrame()
df['job_titles']=job_title
df['company']=company_name
df['locations']=location
df

,job_titles,company,locations
0,Data Scientist / Analyst,open data fabric,Bangalore/Bengaluru
1,Senior Data Scientist,newscorp,Bangalore/Bengaluru
2,Data Scientist II- Merchandise & Discovery,Swiggy,Bangalore/Bengaluru
3,Forecasting Analyst/ Data Scientist (US Client),Concentrix,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du..."
4,Consultant - Junior Data Scientist,Flexing It,"Navi Mumbai, New Delhi, Bangalore/Bengaluru"
5,Data Scientist,VANTAGEIQ TECHNOLOGIES (OPC) PRIVATE LIMITED,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)"
6,Data Scientist,newscorp,Bangalore/Bengaluru
7,Principal Data Scientist,VANTAGEIQ TECHNOLOGIES (OPC) PRIVATE LIMITED,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)"
8,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
9,Junior Data Scientist,Titan,Bangalore/Bengaluru

# 3: In this question you have to scrape data using the filters available on the webpage as shown below

In [34]:
#1. First get the webpage https://www.naukri.com/
url='https://www.naukri.com/'
driver.get(url)

In [35]:
#2. Enter “Data Science” in “Skill, Designations, Companies” field
search_job=driver.find_element_by_class_name("suggestor-input")
search_job
search_job.send_keys("Data Scientist")

In [36]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn
search_btn.click()

In [38]:
location=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
location.click()

In [39]:
salary_chk=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary_chk.click()

In [40]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title_tags
job_title=[]
for i in title_tags:
    job_title.append(i.text)
del job_title[10:21]

In [41]:
company_tag=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in company_tag:
    company_name.append(i.text)
del company_name[10:21]

In [43]:
location_tag=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location=[]
for i in location_tag:
    location.append(i.text)
del location[10:21]

In [44]:
df=pd.DataFrame()
df['job_titles']=job_title
df['company']=company_name
df['locations']=location
df

,job_titles,company,locations
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
1,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
2,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,"Noida, New Delhi, Gurgaon/Gurugram"
3,Data Scientist,Optum,"Noida, Gurgaon/Gurugram"
4,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida
5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Noida
6,Hiring For Data Scientist,Lumiq.ai,"Noida, Pune, Mumbai (All Areas)"
7,Lead Data Scientist,Indihire HR Consultants Private Limited,Delhi / NCR\n(WFH during Covid)
8,Urgent Requirement || Data Scientist || Noida,HCL,"Noida, Delhi / NCR"
9,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,"Noida, New Delhi, Delhi / NCR"

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [71]:
#1. First get the webpage https://www.naukri.com/
url='https://www.flipkart.com/'
driver.get(url)

In [72]:
search_job=driver.find_element_by_class_name("_3704LK")
search_job
search_job.send_keys("sunglasses")

In [73]:
search_btn=driver.find_element_by_class_name('L0Z3Pu')
search_btn
search_btn.click()

In [74]:
product_name=driver.find_elements_by_class_name("_2WkVRV")
product_name
product=[]
for i in product_name:
    product.append(i.text)
product[0:2]

['AISLIN', 'ROZZETTA CRAFT']

In [75]:
product_detail=driver.find_elements_by_class_name("IRpwTa")
product_detail
details=[]
for i in product_detail:
    details.append(i.text)
details[0:2]

['UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...']

In [76]:
product_price=driver.find_elements_by_class_name("_30jeq3")
product_price
price=[]
for i in product_price:
    price.append(i.text)
del price[40:46]

In [81]:
df=pd.DataFrame()
df['products_name']=product
df['product_details']=details
df['product_price']=price
df

,products_name,product_details,product_price
0,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹267
1,DEIXELS,UV Protection Wayfarer Sunglasses (Free Size),₹149
2,Lee Topper,"UV Protection, Riding Glasses Retro Square, Sp...",₹325
3,LOUIS KOUROS,UV Protection Aviator Sunglasses (60),"₹1,299"
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹629
5,New Specs,"UV Protection, Mirrored Sports Sunglasses (Fre...",₹108
6,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹183
7,LOUIS KOUROS,UV Protection Aviator Sunglasses (60),"₹1,299"
8,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹180
9,ROYAL SON,UV Protection Rectangular Sunglasses (58),₹424
10,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹549
11,NuVew,UV Protection Aviator Sunglasses (57),₹258
12,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹424
13,PIRASO,UV Protection Butterfly Sunglasses (65),₹325
14,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),₹226
15,NuVew,"UV Protection, Mirrored Aviator Sunglasses (57)",₹145
16,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹159
17,DEIXELS,UV Protection Rectangular Sunglasses (Free Size),₹149
18,New Specs,UV Protection Aviator Sunglasses (Free Size),₹133
19,AISLIN,"UV Protection Wrap-around, Rectangular Sunglas...",₹777
20,GANSTA,UV Protection Aviator Sunglasses (57),₹234
21,Elligator,UV Protection Aviator Sunglasses (55),₹321
22,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹226
23,AISLIN,"UV Protection, Gradient Butterfly, Retro Squar...",₹396
24,PIRASO,UV Protection Butterfly Sunglasses (60),₹325
25,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹249
26,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹349
27,AISLIN,"UV Protection, Gradient Round, Cat-eye Sunglas...",₹396
28,PHENOMENAL,UV Protection Clubmaster Sunglasses (Free Size),₹257
29,kingsunglasses,UV Protection Rectangular Sunglasses (Free Size),₹130
30,kingsunglasses,"Mirrored, UV Protection Aviator Sunglasses (56)",₹169
31,AISLIN,"Toughened Glass Lens, UV Protection Rectangula...",₹751
32,Silver Kartz,UV Protection Aviator Sunglasses (88),₹192
33,PIRASO,UV Protection Wayfarer Sunglasses (55),₹175
34,ROYAL SON,Mirrored Aviator Sunglasses (58),₹329
35,NuVew,UV Protection Cat-eye Sunglasses (60),₹353
36,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹548
37,hipe,"Mirrored, UV Protection, Gradient Round Sungla...",₹139
38,Mi,Polarized Aviator Sunglasses (Free Size),₹959
39,ROYAL SON,"Polarized, UV Protection, Gradient Over-sized,...","₹1,184"

In [82]:
next_btn=driver.find_element_by_class_name('_1LKTO3')
next_btn
next_btn.click()

In [83]:
product_name=driver.find_elements_by_class_name("_2WkVRV")
product_name
product=[]
for i in product_name:
    product.append(i.text)
product[0:2]
product_detail=driver.find_elements_by_class_name("IRpwTa")
product_detail
details=[]
for i in product_detail:
    details.append(i.text)
details[0:2]
product_price=driver.find_elements_by_class_name("_30jeq3")
product_price
price=[]
for i in product_price:
    price.append(i.text)
del price[40:46]

In [84]:
df=pd.DataFrame()
df['products_name']=product
df['product_details']=details
df['product_price']=price
df

,products_name,product_details,product_price
0,IZAAN MART,UV Protection Rectangular Sunglasses (55),₹249
1,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (58)",₹409
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹148
3,PIRASO,UV Protection Aviator Sunglasses (54),₹179
4,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹182
5,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...",₹152
6,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹629
7,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹281
8,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹115
9,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),₹225
10,SRPM,"Others Wayfarer, Retro Square Sunglasses (50)",₹128
11,SKYZA INDIA,"Polarized, UV Protection Sports Sunglasses (Fr...",₹409
12,PIRASO,UV Protection Aviator Sunglasses (54),₹175
13,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹234
14,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹134
15,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)",₹396
16,PIRASO,UV Protection Wayfarer Sunglasses (32),₹175
17,ROYAL SON,Mirrored Aviator Sunglasses (55),₹329
18,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹239
19,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (52)",₹614
20,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹131
21,ROZZETTA CRAFT,"Polarized, Night Vision, Riding Glasses Sports...",₹424
22,PIRASO,UV Protection Aviator Sunglasses (58),₹299
23,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),₹599
24,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹148
25,Elligator,UV Protection Round Sunglasses (53),₹139
26,PIRASO,UV Protection Aviator Sunglasses (54),₹175
27,NuVew,"UV Protection, Mirrored Wayfarer, Rectangular ...",₹293
28,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹189
29,kingsunglasses,UV Protection Round Sunglasses (54),₹136
30,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹239
31,ROYAL SON,"UV Protection, Gradient Butterfly, Over-sized ...",₹614
32,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹213
33,Rich Club,Polarized Round Sunglasses (48),₹125
34,kingsunglasses,"UV Protection, Night Vision Wayfarer Sunglasse...",₹209
35,NuVew,UV Protection Aviator Sunglasses (58),₹176
36,SRPM,UV Protection Wayfarer Sunglasses (53),₹170
37,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹278
38,kingsunglasses,"Mirrored, UV Protection Wayfarer, Rectangular ...",₹208
39,povty,UV Protection Retro Square Sunglasses (Free Size),₹249

In [89]:

# importing necessary packages
from selenium import webdriver
#from webdriver_manager.chrome import ChromeDriverManager
  
# for holding the resultant list
element_list = []
  
for page in range(1,3,1):
    
    page_url = "https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1" + str(page)
    driver=webdriver.Chrome(r'C:\Users\RUCHITA\Downloads\chromedriver_win32/chromedriver.exe')
    driver.get(page_url)
    title = driver.find_elements_by_class_name("_2WkVRV")
    price = driver.find_elements_by_class_name("_30jeq3")
    description = driver.find_elements_by_class_name("IRpwTa")
    #rating = driver.find_elements_by_class_name("ratings")
  
    for i in range(len(title)):
        element_list.append([title[i].text, price[i].text, description[i].text])
element_list

[['agera', '₹104', 'UV Protection Round Sunglasses (56)'],
 ['ROYAL SON', '₹614', 'UV Protection Cat-eye, Over-sized Sunglasses (62)'],
 ['Singco India',
  '₹246',
  'UV Protection, Mirrored, Others Aviator Sunglasses (33)'],
 ['LOUIS KOUROS', '₹1,299', 'UV Protection Aviator Sunglasses (60)'],
 ['VINCENT CHASE',
  '₹949',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...'],
 ['ROYAL SON', '₹519', 'UV Protection Retro Square Sunglasses (60)'],
 ['Urbanic', '₹499', 'Others Retro Square Sunglasses (Free Size)'],
 ['ROYAL SON',
  '₹614',
  'UV Protection, Gradient Butterfly, Over-sized Sunglasse...'],
 ['hipe', '₹94', 'UV Protection, Gradient, Mirrored, Riding Glasses, Nigh...'],
 ['Fastrack', '₹759', 'UV Protection Wayfarer Sunglasses (56)'],
 ['ROYAL SON', '₹329', 'UV Protection Round Sunglasses (50)'],
 ['ROYAL SON', '₹614', 'UV Protection, Gradient Butterfly Sunglasses (52)'],
 ['NuVew', '₹145', 'UV Protection Wayfarer Sunglasses (50)'],
 ['ROYAL SON',
  '₹614',
  'Gradient, UV Protection Round, Oval, Cat-eye Sunglasses...'],
 ['AISLIN',
  '₹611',
  'UV Protection, Gradient Retro Square, Over-sized Sungla...'],
 ['LOUIS KOUROS', '₹1,299', 'UV Protection Aviator Sunglasses (60)'],
 ['ROYAL SON', '₹424', 'UV Protection Rectangular Sunglasses (Free Size)'],
 ['New Specs', '₹169', 'UV Protection Round Sunglasses (Free Size)'],
 ['GANSTA', '₹174', 'UV Protection Retro Square Sunglasses (53)'],
 ['ROYAL SON',
  '₹1,184',
  'Polarized, UV Protection, Gradient Over-sized, Butterfl...'],
 ['GANSTA', '₹104', 'Wayfarer Sunglasses (Free Size)'],
 ['WROGN', '₹649', 'Polarized Round Sunglasses (44)'],
 ['Fastrack', '₹999', 'UV Protection Wrap-around Sunglasses (Free Size)'],
 ['ROYAL SON', '₹614', 'UV Protection, Gradient Butterfly Sunglasses (55)'],
 ['NuVew', '₹298', 'UV Protection Sports Sunglasses (73)'],
 ['Fastrack', '₹1,349', 'Aviator Sunglasses (58)'],
 ['AISLIN',
  '₹625',
  'UV Protection, Gradient Retro Square, Over-sized Sungla...'],
 ['PETER JONES', '₹369', 'UV Protection Over-sized Sunglasses (58)'],
 ['hipe', '₹129', 'UV Protection Round Sunglasses (Free Size)'],
 ['Fastrack', '₹949', 'UV Protection Round Sunglasses (52)'],
 ['Urbanic', '₹439', 'Others Retro Square Sunglasses (Free Size)'],
 ['hipe', '₹159', 'UV Protection Round Sunglasses (Free Size)'],
 ['elegante', '₹399', 'Polarized Retro Square Sunglasses (Free Size)'],
 ['AISLIN',
  '₹733',
  'Toughened Glass Lens, UV Protection Aviator Sunglasses ...'],
 ['VINCENT CHASE',
  '₹1,129',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...'],
 ['AISLIN', '₹396', 'UV Protection, Gradient Cat-eye Sunglasses (61)'],
 ['AISLIN', '₹396', 'UV Protection, Gradient Oval Sunglasses (58)'],
 ['ROZZETTA CRAFT',
  '₹449',
  'UV Protection, Gradient Retro Square Sunglasses (62)'],
 ['Urbanic', '₹349', 'Others Retro Square Sunglasses (Free Size)'],
 ['New Specs',
  '₹108',
  'UV Protection, Mirrored Sports Sunglasses (Free Size)'],
 ['Fravy', '₹169', 'UV Protection Retro Square Sunglasses (Free Size)'],
 ['PIRASO', '₹249', 'UV Protection Aviator Sunglasses (58)'],
 ['AISLIN',
  '₹933',
  'Toughened Glass Lens, UV Protection Aviator Sunglasses ...'],
 ['AISLIN', '₹409', 'UV Protection, Gradient Cat-eye Sunglasses (58)'],
 ['Ray-Ban', '₹4,139', 'UV Protection Wayfarer Sunglasses (51)'],
 ['GANSTA', '₹183', 'UV Protection Aviator Sunglasses (57)'],
 ['PETER JONES',
  '₹449',
  'Night Vision, Riding Glasses, UV Protection Wrap-around...'],
 ['ROZZETTA CRAFT',
  '₹281',
  'UV Protection, Gradient Retro Square Sunglasses (Free S...'],
 ['ROZZETTA CRAFT',
  '₹424',
  'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...'],
 ['GANSTA', '₹204', 'UV Protection Wayfarer Sunglasses (53)'],
 ['AISLIN',
  '₹751',
  'Toughened Glass Lens, UV Protection Rectangular, Wayfar...'],
 ['ROYAL SON', '₹614', 'UV Protection, Gradient Butterfly Sunglasses (52)'],
 ['Billion', '₹204', 'UV Protection Aviator Sunglasses (57)'],
 ['WROGN', '₹649', 'Polarized Oval Sunglasses (55)'],
 ['Fastrack', '₹1,119', 'UV Protection Aviator Sunglasses (58)'],
 ['SKYZA INDIA',
  '₹409',
  'Polarized, UV Protection Sports Sunglasses (Free Size)'],
 ['AISLIN',
  '₹730',
  'Toughened Glass Lens, UV Protection Wayfarer, Rectangul...'],
 ['ROYAL SON', '₹329', 'Mirrored Aviator Sunglasses (Free Size)'],
 ['ROYAL SON', '₹649', 'UV Protection Retro Square Sunglasses (60)'],
 ['ROZZETTA CRAFT', '₹599', 'UV Protection Aviator Sunglasses (62)'],
 ['ROYAL SON', '₹1,184', 'Polarized, UV Protection Sports Sunglasses (68)'],
 ['Cristiano Ronnie',
  '₹599',
  'UV Protection, Mirrored Clubmaster Sunglasses (52)'],
 ['AISLIN',
  '₹751',
  'Toughened Glass Lens, UV Protection Aviator, Wrap-aroun...'],
 ['AISLIN', '₹396', 'UV Protection, Gradient Oval Sunglasses (58)'],
 ['SUNBEE',
  '₹169',
  'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...'],
 ['VINCENT CHASE',
  '₹949',
  'by Lenskart Polarized, UV Protection Round Sunglasses (...'],
 ['NuVew',
  '₹187',
  'UV Protection, Mirrored, Gradient Over-sized, Retro Squ...'],
 ['NuVew',
  '₹293',
  'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...'],
 ['NuVew', '₹145', 'UV Protection Wayfarer Sunglasses (50)'],
 ['ROZZETTA CRAFT',
  '₹376',
  'UV Protection, Gradient Butterfly, Shield Sunglasses (6...'],
 ['ROYAL SON',
  '₹599',
  'Polarized, UV Protection Retro Square Sunglasses (55)'],
 ['ROYAL SON',
  '₹614',
  'UV Protection, Gradient Butterfly, Over-sized Sunglasse...'],
 ['Fastrack', '₹849', 'UV Protection Wayfarer Sunglasses (55)'],
 ['WROGN', '₹669', 'Polarized Round Sunglasses (44)'],
 ['ROYAL SON', '₹709', 'Polarized, UV Protection Aviator Sunglasses (57)'],
 ['povty', '₹249', 'UV Protection Retro Square Sunglasses (Free Size)'],
 ['ROZZETTA CRAFT',
  '₹376',
  'Polarized, UV Protection Aviator Sunglasses (Free Size)'],
 ['ROYAL SON', '₹329', 'UV Protection Aviator Sunglasses (56)'],
 ['hipe',
  '₹139',
  'UV Protection, Night Vision, Gradient, Mirrored Round, ...'],
 ['NuVew', '₹176', 'UV Protection Aviator Sunglasses (58)']]

# 6 : Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field

In [3]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")

In [4]:
driver=webdriver.Chrome(r'C:/Users/RUCHITA/Downloads/chromedriver_win32/chromedriver.exe')

In [5]:
url='https://www.flipkart.com/'
driver.get(url)

In [6]:
search_job=driver.find_element_by_class_name("_3704LK")
search_job
search_job.send_keys("sneaker")

In [7]:
search_btn=driver.find_element_by_class_name('L0Z3Pu')
search_btn
search_btn.click()

In [8]:
product_name=driver.find_elements_by_class_name("_2WkVRV")
product_name
product=[]
for i in product_name:
    product.append(i.text)
product[0:2]

['Magnolia', 'Chevit']

In [10]:
price_product=driver.find_elements_by_class_name("_30jeq3")
price_product
price=[]
for i in price_product:
    price.append(i.text)
del price[40:46]

In [11]:
product_details=driver.find_elements_by_class_name("IRpwTa")

details=[]
for i in product_details:
    details.append(i.text)
details[0:2]

['Sneakers For Men',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...']

In [12]:
next_btn=driver.find_element_by_class_name('_1LKTO3')
next_btn
next_btn.click()

In [13]:
len(details)

40

In [134]:
df=pd.DataFrame()
df['products_name']=product
df['product_details']=details
df['product_price']=price
df

,products_name,product_details,product_price
0,ASTEROID,sneaker men red 1258 - 6 Sneakers For Men,₹148
1,Shoes villa,Sneakers For Men,₹349
2,Chevit,Shark-41 Sneakers For Men,₹394
3,Kzaara,Ultralight Latest Collection Sports Running Sh...,₹449
4,Magnolia,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹449
5,BRUTON,"white Casual shoes,Sneakers for men's Sneakers...",₹429
6,Kraasa,Sneaker Sneakers For Men,₹249
7,RapidBox,Kwik FIT casual sneaker shoes and partywear sh...,₹357
8,URBANBOX,Men 5014 Latest Collection Stylish Casual Spor...,₹209
9,World Wear Footwear,Casual Sneakers Shoes for Men Pack of 5 Combo(...,₹885
10,corsac,Lattest Sneakers Shoe Sneakers For Men,₹249
11,KWIK FIT,Sneakers For Men,₹599
12,KWIK FIT,Sneakers For Men,₹380
13,Shoes Bank,Sneakers For Men,₹253
14,World Wear Footwear,Sneakers For Men,₹424
15,Numenzo,Sneakers For Men,₹476
16,BRUTON,casual sneaker shoes for men kardam&sons Sneak...,₹399
17,Elevarse,Latest Collection-1227 Stylish Casual Sports S...,₹209
18,D-SNEAKERZ,411 Casual Sneakers For Men,₹424
19,HRX by Hrithik Roshan,Men White Printed Sneakers Sneakers For Men,"₹2,049"
20,aadi,Sneakers For Men,₹327
21,luxury fashion,516 Trendy Star Perfect Sneakers For Men,₹209
22,Rzisbo,Sports Running Shoes Sneakers For Men,₹249
23,Roadster,Sneakers For Men,"₹1,238"
24,Labbin,"Casuals, Canvas, Partywear Sneakers For Men",₹444
25,Stefano Rads,Men's Sneakers Fashion Lightweight Running Sho...,₹424
26,BRUTON,"Casual , Partywear Sneakers Shoes For Men's An...",₹334
27,RapidBox,Sneakers For Men,₹590
28,luxury fashion,"Perfect Sports Shoes for Men's Running ,Cyclin...",₹199
29,RapidBox,Sneakers For Men,₹424
30,SWIGGY,SM-175 Sneakers For Men,₹714
31,RapidBox,Stylish & Trendy Sneakers For Men,₹570
32,CLYMB,Sneakers For Men,₹534
33,India hub,SM-439 Sneakers For Men,₹666
34,Echor,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹498
35,HOTSTYLE,Sneakers For Men,₹139
36,Vellinto,Sneakers For Men,₹424
37,SCATCHITE,Sneakers For Men,₹398
38,Zsyto,"New Fashion Outdoor Trendy Lightweight Casual,...",₹385
39,Echor,411 Casual Sneakers For Men,₹424

# 7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below imag

In [84]:
driver=webdriver.Chrome(r'C:\Users\RUCHITA\Downloads\chromedriver_win32/chromedriver.exe')

In [85]:
url=' https://www.myntra.com/shoes'
driver.get(url)

In [86]:
price=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')

In [87]:
driver.implicitly_wait(10)
price.click()

In [88]:
colr=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
driver.implicitly_wait(10)
colr.click()

In [98]:
price_product=driver.find_elements_by_class_name("product-price")

price=[]
for i in price_product:
    price.append(i.text)
price[0:2]

['Rs. 9099Rs. 12999(30% OFF)', 'Rs. 12999']

In [93]:
details=driver.find_elements_by_class_name("product-product")
detail=[]
for i in details:
    detail.append(i.text)
detail[0:2]

['Men Printed Sneakers', 'Men Leather Driving Shoes']

In [96]:
brand=driver.find_elements_by_class_name("product-brand")
brand_name=[]
for i in brand:
    brand_name.append(i.text)
brand_name[0:2]

['ALDO', 'ALDO']

In [100]:
next_btn=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')

next_btn.click()

In [ ]:
df=pd.DataFrame()
df['brand']=brand_name
df['product_details']=detail
df['product_price']=price
df

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [114]:
driver=webdriver.Chrome(r'C:\Users\RUCHITA\Downloads\chromedriver_win32/chromedriver.exe')

In [115]:
url='https://www.amazon.in'
driver.get(url)

In [116]:
search_itm=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')

search_itm.send_keys("Laptop")

In [117]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search_btn.click()

In [118]:
cpu_type=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i')
driver.implicitly_wait(10)
cpu_type.click()

In [122]:
cpu9=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div/label/i')
driver.implicitly_wait(10)
cpu9.click()

In [159]:
title_tags=driver.find_elements_by_xpath('/html/body/div[1]/div[2]/div[1]/div[1]/div/span[3]/div[2]/div[5]/div/div/div/div/div/div[2]/div/div/div[1]/h2/a')
#title_tag=driver.find_elements_by_class_name("a-size-mini a-spacing-none a-color-base s-line-clamp-2")
laptop=[]
for i in title_tags:
    laptop.append(i.text)
laptop

['ASUS ROG Strix Scar 17 (2022), 17.3-inch (43.94 cms) 2K WQHD 240Hz/3ms, Core i9-12900H 12th Gen, RTX 3070 Ti 8GB Graphics, Gaming Laptop (32GB/2TB SSD/Win 11/Office 2021/Black/2.9 Kg), G733ZW-LL105WS']

In [145]:
rating=driver.find_elements_by_class_name("a-icon-alt")

rating_tag=[]
for i in rating:
    rating_tag.append(i.text)
rating_tag

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [136]:
price=driver.find_elements_by_class_name("a-price-whole")
mrp=[]
for i in price:
    mrp.append(i.text)
mrp[10:21]

['1,38,000',
 '2,93,000',
 '1,72,000',
 '2,99,990',
 '2,25,000',
 '44,490',
 '59,990',
 '5,474.',
 '4,499.',
 '6,136.',
 '2,998.']

In [161]:
len(rating_tag)

1

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image

In [220]:
driver=webdriver.Chrome(r'C:\Users\RUCHITA\Downloads\chromedriver_win32/chromedriver.exe')

In [221]:
url='https://www.ambitionbox.com/jobs'
driver.get(url)

In [222]:
search_itm=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')

#search_itm.send_keys("Data Scientist")

In [223]:
search_itm.send_keys("data scientist")

In [227]:
search_btn=driver.find_element_by_class_name('ctas-btn-medium')
search_btn.click()

In [210]:
search_btn=driver.find_element_by_class_name('ctas-btn-medium')
search_btn
search_btn.click()

In [231]:
search_loca=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')

In [233]:
#location=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
search_loca.click()

In [236]:
search_city=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[4]/div/label')

search_city.click()

In [240]:
company_tag=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
company_name=[]
for i in company_tag:
    company_name.append(i.text)
company_name

['NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED',
 'HCL Technologies Limited',
 'Optum Global Solutions (India) Private Limited',
 'WSP CONSULTANTS INDIA PRIVATE LIMITED',
 'Microsoft India (R and D) Pvt Ltd',
 'HCL Technologies Ltd',
 'Jubilant Foodworks Limited',
 'HCL Technologies',
 'RATEGAIN TRAVEL TECHNOLOGIES LIMITED',
 'Hanu Software Solutions Pvt Ltd']

In [248]:
info_dayago=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
day_ago=[]
for i in info_dayago:
    day_ago.append(i.text)
del day_ago[10:21]

In [244]:
rating=driver.find_elements_by_xpath('//span[@class="body-small"]')
rat=[]
for i in rating:
    rat.append(i.text)
rat

['3.9', '3.8', '4.1', '4.2', '4.2', '3.8', '3.9', '3.8', '3.8', '3.7']

In [250]:
len(company_name)

10

In [251]:
df=pd.DataFrame()
df['company_name']=company_name
df['post_dayago']=day_ago
df['rating']=rat
df

                                        company_name     post_dayago rating
0  NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED          8d ago    3.9
1                           HCL Technologies Limited  via naukri.com    3.8
2     Optum Global Solutions (India) Private Limited          9d ago    4.1
3              WSP CONSULTANTS INDIA PRIVATE LIMITED  via naukri.com    4.2
4                  Microsoft India (R and D) Pvt Ltd         19d ago    4.2
5                               HCL Technologies Ltd  via naukri.com    3.8
6                         Jubilant Foodworks Limited         10d ago    3.9
7                                   HCL Technologies  via naukri.com    3.8
8               RATEGAIN TRAVEL TECHNOLOGIES LIMITED         20d ago    3.8
9                    Hanu Software Solutions Pvt Ltd  via naukri.com    3.7

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [252]:
driver=webdriver.Chrome(r'C:\Users\RUCHITA\Downloads\chromedriver_win32/chromedriver.exe')

In [253]:
url='https://www.ambitionbox.com/jobs'
driver.get(url)

In [258]:
salary=driver.find_element_by_xpath('/html/body/div/div/div/div[1]/header/div/div[1]/div/div[3]/a')

In [260]:
salary.click()

In [261]:
search_job=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

In [266]:
ds=search_job.send_keys("data scientist")

In [273]:
ser=driver.find_element_by_class_name("icon-search")