# 9  Write a python program to scrape mentioned details from dineout.co.in

In [3]:

from bs4 import BeautifulSoup
import requests
req=requests.get("https://www.dineout.co.in/delhi-restaurants")
soup=BeautifulSoup(req.text,'html.parser')

location=[]
rest_name=[]
rating=[]
images=[]
cuisine=[]

for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
    
for i in soup.find_all('div',class_="restnt-info cursor"):
    
    
    rest_name.append(i.text)
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)
    
for i in soup.find_all('img',class_="no-img"):
    images.append(i['data-src'])
    
#for i in soup.find_all('ul',class_="options"):
    #cusision.append(i.text)
    

#for i in soup.find_all('div',class_="filter-component-wrap cuisine-wrap"):
    #cuisine.append(i.text)
    


    
#print(rating,images)

In [4]:
import pandas as pd

In [5]:
df=pd.DataFrame({'location':location,"rest_name":rest_name,"rating":rating,"image_url":images,})

In [6]:
df

,location,rest_name,rating,image_url
0,"Connaught Place, Central Delhi","TamashaConnaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,"Scindia House,Connaught Place, Central Delhi","LocalScindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,"Connaught Place, Central Delhi","Unplugged CourtyardConnaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
3,"M-Block,Connaught Place, Central Delhi","The G.T. ROADM-Block,Connaught Place, Central ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"Connaught Place, Central Delhi","The Junkyard CafeConnaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
5,"M-Block,Connaught Place, Central Delhi","Ministry Of BeerM-Block,Connaught Place, Centr...",4,https://im1.dineout.co.in/images/uploads/resta...
6,"Connaught Place, Central Delhi","Out Of The Box CourtyardConnaught Place, Centr...",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,"M-Block,Connaught Place, Central Delhi","Chili's American Grill and BarM-Block,Connaugh...",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,"Connaught Place, Central Delhi",Connaught Clubhouse MicrobreweryConnaught Plac...,4.2,https://im1.dineout.co.in/images/uploads/resta...
9,"Connaught Place, Central Delhi","QBAConnaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"Connaught Place, Central Delhi","Warehouse CafeConnaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
11,"Connaught Place, Central Delhi",High 5 - Everyday Wholesale BarConnaught Place...,3.8,https://im1.dineout.co.in/images/uploads/resta...
12,"Connaught Place, Central Delhi","SandozConnaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
13,"Connaught Place, Central Delhi","Farzi CafeConnaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
14,"Connaught Place, Central Delhi","Lord of the DrinksConnaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
15,"Connaught Place, Central Delhi","Barbeque NationConnaught Place, Central Delhi",4.4,https://im1.dineout.co.in/images/uploads/resta...
16,"Connaught Place, Central Delhi",Ardor 2.1 Restaurant and LoungeConnaught Place...,3.8,https://im1.dineout.co.in/images/uploads/resta...
17,"Connaught Place, Central Delhi","Openhouse CafeConnaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
18,"M-Block,Connaught Place, Central Delhi","38 BarracksM-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
19,"Connaught Place, Central Delhi","My Bar SquareConnaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
20,"Connaught Place, Central Delhi","DasaprakashConnaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...

In [7]:
cuisine=[]
for i in soup.find_all('div',class_="filter-component-wrap cuisine-wrap"):
    cuisine.append(i.text)
cuisine

['Cuisines-+North IndianFast FoodChineseItalianShow More (61)']

# 4  Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp

In [8]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
req=requests.get("https://meesho.com/sarees/pl/f40kj")
soup=BeautifulSoup(req.text,'html.parser')

product_name=[]
discount=[]
price=[]

for i in soup.find_all(class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    product_name.append(i.text)
    
    
for i in soup.find_all(class_="Card__BaseCard-sc-b3n78k-0 iJCKg NewProductCard__DiscountRow-sc-j0e7tu-15 kUcVjG NewProductCard__DiscountRow-sc-j0e7tu-15 kUcVjG"):
    discount.append(i.text)
    
for i in soup.find_all(class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
    price.append(i.text)
    

df=pd.DataFrame({"product_name":product_name, "discount":discount,"price":price})
df

                    product_name                    discount price
0       Abhisarika Petite Sarees  ₹100 discount on 1st order  ₹286
1         Aakarsha Pretty Sarees  ₹100 discount on 1st order  ₹326
2          Charvi Refined Sarees  ₹100 discount on 1st order  ₹958
3           Adrika Pretty Sarees  ₹100 discount on 1st order  ₹563
4   Abhisarika Attractive Sarees  ₹100 discount on 1st order  ₹387
5        Aagyeyi Alluring Sarees   ₹91 discount on 1st order  ₹215
6       Jivika Attractive Sarees  ₹100 discount on 1st order  ₹415
7          Charvi Refined Sarees   ₹91 discount on 1st order  ₹215
8          Trendy Refined Sarees   ₹85 discount on 1st order  ₹200
9         Aakarsha Petite Sarees  ₹100 discount on 1st order  ₹264
10       Aishani Graceful Sarees  ₹100 discount on 1st order  ₹318
11    Chitrarekha Voguish Sarees  ₹100 discount on 1st order  ₹997
12      Adrika Attractive Sarees   ₹85 discount on 1st order  ₹199
13         Adrika Drishya Sarees  ₹100 discount on 1st order  ₹250
14          Myra Graceful Sarees  ₹100 discount on 1st order  ₹405
15      Aakarsha Fabulous Sarees  ₹100 discount on 1st order  ₹381
16         Alisha Voguish Sarees   ₹80 discount on 1st order  ₹189
17   Chitrarekha Ensemble Sarees  ₹100 discount on 1st order  ₹885
18            Myra Petite Sarees  ₹100 discount on 1st order  ₹437
19     Abhisarika Drishya Sarees   ₹95 discount on 1st order  ₹223

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data fram

In [9]:
from bs4 import BeautifulSoup
import requests

In [10]:
req=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")
soup=BeautifulSoup(req.text,'html.parser')

In [11]:

name=[]
year=[]
image=[]
rating=[]
for a in soup.find_all(class_="lister-item-year text-muted unbold"):
    year.append(a.text)
for a in soup.find_all(class_="loadlate"):
    image.append(a["src"])
for a in soup.find_all(class_="lister-item-header"):
    name.append(a.text.split()[2])
for a in soup.find_all(class_="inline-block ratings-imdb-rating"):
    rating.append(a.text.split()[0])

In [12]:
import pandas as pd
df=pd.DataFrame({"name":name,"year":year,"rating":rating,"image":image})
df

,name,year,rating,image
0,Shawshank,(1994),9.3,https://m.media-amazon.com/images/S/sash/4Fyxw...
1,Godfather,(1972),9.2,https://m.media-amazon.com/images/S/sash/4Fyxw...
2,Dark,(2008),9.1,https://m.media-amazon.com/images/S/sash/4Fyxw...
3,Lord,(2003),9.0,https://m.media-amazon.com/images/S/sash/4Fyxw...
4,List,(1993),9.0,https://m.media-amazon.com/images/S/sash/4Fyxw...
5,Godfather:,(1974),9.0,https://m.media-amazon.com/images/S/sash/4Fyxw...
6,Angry,(1957),9.0,https://m.media-amazon.com/images/S/sash/4Fyxw...
7,Lord,(2001),8.9,https://m.media-amazon.com/images/S/sash/4Fyxw...
8,Fiction,(1994),8.9,https://m.media-amazon.com/images/S/sash/4Fyxw...
9,(2010),(2010),8.8,https://m.media-amazon.com/images/S/sash/4Fyxw...
10,Lord,(2002),8.8,https://m.media-amazon.com/images/S/sash/4Fyxw...
11,Club,(1999),8.8,https://m.media-amazon.com/images/S/sash/4Fyxw...
12,Gump,(1994),8.8,https://m.media-amazon.com/images/S/sash/4Fyxw...
13,"buono,",(1966),8.8,https://m.media-amazon.com/images/S/sash/4Fyxw...
14,No,(2021),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
15,(2014),(2014),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
16,Matrix,(1999),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
17,(1990),(1990),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
18,Empire,(1980),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
19,Flew,(1975),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
20,no,(1954),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
21,a,(1946),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
22,Batman,(2022),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
23,de,(2002),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
24,Pianist,(2002),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
25,to,(2001),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
26,Private,(1998),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
27,Green,(1999),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
28,vita,(1997),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
29,(1995),(1995),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
30,(1994),(1994),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
31,2:,(1991),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
32,Silence,(1991),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
33,to,(1985),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
34,Wars,(1977),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
35,(1962),(1962),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
36,(2019),(2019),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
37,Infinity,(2018),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
38,(2014),(2014),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
39,Unchained,(2012),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
40,Intouchables,(2011),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
41,Idiots,(2009),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
42,Prestige,(2006),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
43,Departed,(2006),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
44,(2000),(2000),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
45,(2000),(2000),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
46,History,(1998),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
47,Usual,(1995),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
48,Lion,(1994),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
49,Cinema,(1988),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...

In [13]:
req=requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")
soup=BeautifulSoup(req.text,'html.parser')

name=[]
year=[]
image=[]
rating=[]
for a in soup.find_all(class_="lister-item-year text-muted unbold"):
    year.append(a.text)
#year
for a in soup.find_all(class_="loadlate"):
    image.append(a["src"])
#image
for a in soup.find_all(class_="lister-item-header"):
    name.append(a.text.split()[1:3])
#name
for a in soup.find_all(class_="inline-block ratings-imdb-rating"):
    rating.append(a.text.split()[0])
#rating

In [14]:
df1=pd.DataFrame({"name":name,"year":year,"rating":rating,"image":image})
df

,name,year,rating,image
0,Shawshank,(1994),9.3,https://m.media-amazon.com/images/S/sash/4Fyxw...
1,Godfather,(1972),9.2,https://m.media-amazon.com/images/S/sash/4Fyxw...
2,Dark,(2008),9.1,https://m.media-amazon.com/images/S/sash/4Fyxw...
3,Lord,(2003),9.0,https://m.media-amazon.com/images/S/sash/4Fyxw...
4,List,(1993),9.0,https://m.media-amazon.com/images/S/sash/4Fyxw...
5,Godfather:,(1974),9.0,https://m.media-amazon.com/images/S/sash/4Fyxw...
6,Angry,(1957),9.0,https://m.media-amazon.com/images/S/sash/4Fyxw...
7,Lord,(2001),8.9,https://m.media-amazon.com/images/S/sash/4Fyxw...
8,Fiction,(1994),8.9,https://m.media-amazon.com/images/S/sash/4Fyxw...
9,(2010),(2010),8.8,https://m.media-amazon.com/images/S/sash/4Fyxw...
10,Lord,(2002),8.8,https://m.media-amazon.com/images/S/sash/4Fyxw...
11,Club,(1999),8.8,https://m.media-amazon.com/images/S/sash/4Fyxw...
12,Gump,(1994),8.8,https://m.media-amazon.com/images/S/sash/4Fyxw...
13,"buono,",(1966),8.8,https://m.media-amazon.com/images/S/sash/4Fyxw...
14,No,(2021),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
15,(2014),(2014),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
16,Matrix,(1999),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
17,(1990),(1990),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
18,Empire,(1980),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
19,Flew,(1975),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
20,no,(1954),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
21,a,(1946),8.7,https://m.media-amazon.com/images/S/sash/4Fyxw...
22,Batman,(2022),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
23,de,(2002),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
24,Pianist,(2002),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
25,to,(2001),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
26,Private,(1998),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
27,Green,(1999),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
28,vita,(1997),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
29,(1995),(1995),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
30,(1994),(1994),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
31,2:,(1991),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
32,Silence,(1991),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
33,to,(1985),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
34,Wars,(1977),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
35,(1962),(1962),8.6,https://m.media-amazon.com/images/S/sash/4Fyxw...
36,(2019),(2019),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
37,Infinity,(2018),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
38,(2014),(2014),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
39,Unchained,(2012),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
40,Intouchables,(2011),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
41,Idiots,(2009),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
42,Prestige,(2006),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
43,Departed,(2006),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
44,(2000),(2000),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
45,(2000),(2000),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
46,History,(1998),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
47,Usual,(1995),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
48,Lion,(1994),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
49,Cinema,(1988),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...

In [15]:
frames = [df1, df]
  
result = pd.concat(frames)
display(result)

,name,year,rating,image
0,"[Hotaru, no]",(1988),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
1,"[Apocalypse, Now]",(1979),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
2,"[Alien, (1979)]",(1979),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
3,"[Once, Upon]",(1968),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
4,"[Psycho, (1960)]",(1960),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
...,...,...,...,...
45,(2000),(2000),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
46,History,(1998),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
47,Usual,(1995),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
48,Lion,(1994),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...
49,Cinema,(1988),8.5,https://m.media-amazon.com/images/S/sash/4Fyxw...

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of
release) and make data frame.

In [16]:
req=requests.get("https://www.imdb.com/list/ls009997493/")
soup=BeautifulSoup(req.text)

name=[]
year=[]
rating=[]
for index in soup.find_all(class_="lister-item-header"):
    name.append(index.text.split()[1:4])
for index in soup.find_all(class_="lister-item-year text-muted unbold"):
    year.append(index.text)
for index in soup.find_all(class_="ipl-rating-star small"):
    rating.append(index.text.split()[-1])

In [17]:
df=pd.DataFrame({"move_name":name,"year":year,"rating":rating})

In [18]:
df

                  move_name    year rating
0       [Rang, De, Basanti]  (2006)    8.1
1       [3, Idiots, (2009)]  (2009)    8.5
2      [Taare, Zameen, Par]  (2007)    8.4
3        [Dil, Chahta, Hai]  (2001)    8.1
4       [Swades:, We,, the]  (2004)    8.3
..                      ...     ...    ...
95          [Wake, Up, Sid]  (2009)    7.6
96       [Rangeela, (1995)]  (1995)    7.4
97  [Shatranj, Ke, Khilari]  (1977)    7.5
98   [Pyaar, Ka, Punchnama]  (2011)    7.7
99        [Ek, Hasina, Thi]  (2004)    7.5

[100 rows x 3 columns]

# 5  a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [19]:
req=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
soup=BeautifulSoup(req.text)

In [20]:
rating=[]
points=[]
matches=[]
country=[]
for i in soup.find_all(class_="table-body"):
    country.append(i.text.split()[-5])
    del country[10:30]
for i in soup.find_all(class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
    del rating[10:30]
for i in soup.find_all(class_="table-body"):
    matches.append(i.text.split()[-3])
    del matches[10:30]
for i in soup.find_all(class_="table-body"):
    points.append(i.text.split()[-2])
    del points[10:30]

In [21]:
df=pd.DataFrame({"country_name":country,"matches":matches,"ratings":rating,"point":points})

In [22]:
df

  country_name matches ratings  point
0      England      32     119  3,793
1    Australia      28     116  3,244
2        India      38     110  4,162
3       Africa      28     105  2,943
4     Pakistan      27      93  2,524
5   Bangladesh      33      91  2,988
6        Lanka      35      81  2,835
7       Indies      36      77  2,788
8  Afghanistan      23      68  1,562
9      Ireland      28      52  1,445

# 5 b) Top 10 ODI Batsmen along with the records of their team and rating

In [33]:
import requests
from bs4 import BeautifulSoup
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'

page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')
name=[]
for p in soup.find_all(class_="table-body__cell name"):  
    name.append(p.text.split()[0:2])
del name[9:67]
teams=[]
for p in soup.find_all("span",class_="table-body__logo-text"):  
    teams.append(p.text)
del teams[9:67]
posi=[]
for p in soup.find_all("span",class_="rankings-table__pos-number"):  
    posi.append(p.text.split()[0])
del posi[9:67]
posi
rating=[]
for p in soup.find_all("td",class_="table-body__cell u-text-right rating"):  
    rating.append(p.text)
del rating[9:67]
import pandas as pd
df1=pd.DataFrame({"position":posi,"name":name,"country":teams,"rating":rating})
df1

  position               name country rating
0        2     [Virat, Kohli]     IND    811
1        3    [Rohit, Sharma]     IND    791
2        4      [Quinton, de]      SA    783
3        5     [Aaron, Finch]     AUS    779
4        6  [Jonny, Bairstow]     ENG    775
5        7    [David, Warner]     AUS    762
6        8      [Rassie, van]      SA    750
7        9    [Fakhar, Zaman]     PAK    741
8       10        [Joe, Root]     ENG    740

In [32]:
name=soup.find(class_="rankings-block__banner--name")
name.text
rating=soup.find("div",class_="rankings-block__banner--rating")
rating.text
team=soup.find("span",class_="rankings-block__pos-number")
team.text.split()[0]
team
nat=[]
for i in soup.find_all(class_="rankings-block__banner--player-info"):
    nat.append(i.text.split()[2])
del nat[1:6]
nat
import pandas as pd
df=pd.DataFrame({"position":team,"name":name,"team":nat,"rating":rating})
df

                                            position        name team rating
0  \n                                1\n         ...  Babar Azam  PAK    873

In [34]:
frames = [df, df1]
  
result = pd.concat(frames)
display(result)

,position,name,team,rating,country
0,\n 1\n ...,Babar Azam,PAK,873,NaN
0,2,"[Virat, Kohli]",NaN,811,IND
1,3,"[Rohit, Sharma]",NaN,791,IND
2,4,"[Quinton, de]",NaN,783,SA
3,5,"[Aaron, Finch]",NaN,779,AUS
4,6,"[Jonny, Bairstow]",NaN,775,ENG
5,7,"[David, Warner]",NaN,762,AUS
6,8,"[Rassie, van]",NaN,750,SA
7,9,"[Fakhar, Zaman]",NaN,741,PAK
8,10,"[Joe, Root]",NaN,740,ENG

# 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
and the code for the video from the link for the youtube video from the post.

In [23]:
from bs4 import BeautifulSoup
import requests
req=requests.get("https://coreyms.com/")
soup=BeautifulSoup(req.text)
heading=[]
date=[]
content=[]
for i in soup.find_all(class_="entry-title-link"):
    heading.append(i.text)

for i in soup.find_all("time",class_="entry-time"):
    date.append(i.text)
    
for i in soup.find_all("div",class_="entry-content"):
    content.append(i.text)

In [24]:
import pandas as pd
df=pd.DataFrame({"heading of articals":heading,"date":date,"contents":content})

In [25]:
df

,heading of articals,date,contents
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","\nIn this video, we will be learning how to cr..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","\nIn this Python Programming video, we will be..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","\nIn this Python Programming video, we will be..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","\nIn this Python Programming video, we will be..."
4,Update (2019-09-03),"September 3, 2019",\nHey everyone. I wanted to give you an update...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","\nIn this Python Programming Tutorial, we will..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","\nIn this Python Programming Tutorial, we will..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","\nIn this Python Programming Tutorial, we will..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","\nIn this Python Programming Tutorial, we will..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","\nIn this Python Programming Tutorial, we will..."

In [26]:
video=[]
for i in soup.find_all(class_="youtube-player"):
    video.append(i["src"])
video

['https://www.youtube.com/embed/z0gguhEmWiY?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_P7X8tMplsw?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/fKl2JW_qrso?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/IEEhzQoKtQU?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/mO_dS3rXDIs?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/2Fp1N6dof0Y?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/-nh9rCzPJ20?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/06I63_p-2A4?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent',
 'https://www.youtube.com/embed/_JGmemuINww?version=3&rel=1&showsearch=0&showinfo=1&iv_load_policy=1&fs=1&hl=en-US&autohide=2&wmode=transparent']

# in video sections one video is not available so video cant extract len of video 9

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [27]:
import requests
from bs4 import BeautifulSoup
url = 'https://www.bewakoof.com/women-tshirts?ga_q=tshirts'

page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

url=[]
name=[]
price=[]

for p in soup.find_all("img",class_="productImgTag"):
    url.append(p["src"])

for p in soup.find_all("h3"):  
    name.append(p.text)
del name[10]

for p in soup.find_all("b"):  
    price.append(p.text)
del price[10:67]

In [28]:
import pandas as pd
df=pd.DataFrame({"product_name":name,"price":price,"img_url":url})
df

,product_name,price,img_url
0,Chibi Friends (FRL) Half Sleeve Printed T-shirt,249,https://images.bewakoof.com/t320/chibi-friends...
1,Bunny Rabbit Pocket Printed Half Sleeve T-Shirt,₹229,https://images.bewakoof.com/t320/bunny-rabbit-...
2,Bonjour Paris Half Sleeve Printed T-Shirt,249,https://images.bewakoof.com/t320/bonjour-paris...
3,Chibi Harry Half Sleeve T-Shirt (HPL),₹229,https://images.bewakoof.com/t320/chibi-harry-h...
4,Stay Classy Minnie Half Sleeve Printed T-shirt...,199,https://images.bewakoof.com/t320/stay-classy-m...
5,Simply Pawfect Half Sleeve T-Shirt (DL) Tropic...,₹179,https://images.bewakoof.com/t320/simply-pawfec...
6,Inner Peace Half Sleeve Printed T-Shirt Black,249,https://images.bewakoof.com/t320/inner-peace-h...
7,Sleepy Cat,₹229,https://images.bewakoof.com/t320/sleepy-cat-ha...
8,Digi Teal Half Sleeve T-Shirt,299,https://images.bewakoof.com/t320/digital-teal-...
9,All We Have Half Sleeve T-Shirt Meteor Grey,₹279,https://images.bewakoof.com/t320/all-we-have-h...

# 1) Write a python program to display all the header tags from wikipedia.org.

In [ ]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')
bs = BeautifulSoup(html, "html.parser")
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')